*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
ul,li{list-style-type: none;}
a{text-decoration: none;}
img{display: block;}
.container{
    width: 1800px;
    margin: 0 auto;
}
label{position: relative;}
.fa-solid{
    position: absolute;
    top:33px;
    left: 475px;
    font-size: 23px;
    color: #B8B9BE;
}
header{
    border-bottom:1px solid #E3E6EB;
}
nav{
    padding: 20px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
::placeholder{font-family: "Montserrat";font-size: 15px;}
.searchInput{
    margin-right: 300px;
    width: 700px;
    background-color: #E3E6EB;
    border-radius: 30px;
    padding: 17px 20px;
    padding-left: 50px;
}
.searchInput::placeholder{font-family: "Rubik";}
.logout{
    cursor: pointer;
    color: white;
    padding: 15px 30px;
    background-color: #0D75FF;
    border-radius: 4px;
}


.results_sorting{
    border-bottom:1px solid #E3E6EB;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.orderBtn > img{display: inline;}
.orderBtn{
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 10px;
    padding: 9px 10px;
    background-color: #A6B0C3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

h1{font-weight: 400;}
.main__wrapper{
    display: flex;
    flex-wrap: wrap;
}
.main__bookmarks{
    overflow: auto;
    height: 82.6vh;
    padding-top: 30px;
    width: 18%;
    border-right: 1px solid #e3e6eb;
}
.bookmarks__text{margin: 12px 0px 30px 0px;}
.bookmark{
    margin-bottom: 12px;
    padding: 0px 20px;
    width: 90%;
    height: 90px;
    background-color:#F8FAFD;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bookmark__title{
    height: 40px;
    overflow: auto;
    margin-bottom: 10px;
    font-size: 15px;
}
.bookmark__title::-webkit-scrollbar{border: none;}
.bookmark__sub{
    font-size: 14px;
    color: #757881;
}
.bookmark__images{
    display: flex;
    align-items: center;
    gap: 5px;
}




.main__books{
    padding-bottom: 80px;
    background-color: #F8FAFD;
    display: flex;
    flex-wrap: wrap;
    width: 82%;
    height: 82.6vh;
}

.booksList{
    padding-bottom: 30px;
    overflow: auto;
    padding-top: 40px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    height: 98%;
}
.booksList::-webkit-scrollbar{
    border: none;
}
.booksList::-webkit-scrollbar-track{
    background-color: gray;
    border-radius: 4px;
}
.booksList::-webkit-scrollbar-thumb{
    background-color: rgb(211, 226, 0);
    border-radius: 4px;
}
.book{
    padding-bottom: 13px;
    width: 350px;
    height: auto;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.book__img{
    margin-top: 13px;
    width: 210px;
    height: 201px;
    align-self: center;
    margin-bottom: 15px;
    padding: 18px 25px;
    border-radius: 5px;
    background-color: #F8FAFD;
}
.book__body{
    margin-bottom: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.book__title{
    height: 25px;
    overflow: auto;
    font-size: 18px;
}
.book__title::-webkit-scrollbar{border: none;}
.book__sub{
    height: 25px;
    overflow: auto;
    width: 70%;
    font-size: 13px;
    color: #757881;
    margin: 5px 0px;
}
.book__sub::-webkit-scrollbar{border: none;}
.book__year{
    color: #757881;
}

.book__btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    gap: 5px;
}
.btn1{
    width: 50%;
    color: black;
    background-color: #FFD80D;
}
.btn2{
    width: 50%;
    color: rgb(0, 26, 255);
    font-weight: 500;
    background-color: #0D75FF0D;
}
.book__btn_big{
    margin-top: 5px;
    color: white;
    width: 90%;
    margin-inline: 15px;
    background-color: #75828A;
}
.btn1,.btn2,.book__btn_big{
    border-radius: 4px;
    padding: 10px 25px;
    cursor: pointer;
    text-align: center;
}


.hide{display: none;}
.overlay{
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

.modal{
    width: 30%;
    height: 82.6vh;
    background-color: white;
}
.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}
.modal__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal__footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modals{
    z-index: 100;
    position: absolute;
    height: 100vh;
    opacity: 0.7;
    background-color: black;
    width: 100vw;
}
.names{
    padding: 10px 15px;
    background-color: rgba(71, 71, 255, 0.205);
    color: blue;
}

.pags-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.pagination{
    width: 300px;
    height: 70px;
    padding-top: 20px;
    margin: 0 auto;
    overflow-x: auto;
}
.pagination::-webkit-scrollbar{border: none;}
.pagination::-webkit-scrollbar-thumb{background-color: rgb(0, 190, 0);border-radius: 8px;}
.active{
    border: #0D75FF 1px solid;
    color: #0D75FF;
}
.disable{
    background-color: gray;
    color: white;
}
.btn-pages{
    margin: 0px 3px;
    color: black;
    padding: 5px 12px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
}
.next,.prev{
    margin: 0px 10px;
    margin-bottom: 12px;
    padding: 7px 12px;
    border-radius: 5px;
    border: 0.2px solid gray;
    background-color: white;
}